<div class="container">
  <h1><%= @assignment.title %></h1>
  <div class="assignment-content">
    <%= @assignment.content %>
  </div>
  <br>
  <div>
    Due Date: 
    <%= @assignment.due_date.strftime("%H:%M %d/%m/%Y") %>
  </div>
  <br>
  <% if current_instructor && current_instructor == @assignment.course.instructor %>
    <%= link_to "Edit assignment", edit_course_assignment_path(params[:course_id], @assignment.id), class: "btn btn-warning" %>
  <% end %>
  <% if current_student && current_student.enrollments.exists?(@assignment.course) %>
    <%= link_to "Submit assignment", new_course_assignment_submission_path(@assignment.course.id, @assignment.id), class: "btn btn-primary" %>
  <% end %>
</div>
