<div class="container">
  <h1><%= @submission.assignment.title %></h1>
  <h3>Edit my submission</h3>
  <%= form_with(model: @submission, url: course_assignment_submission_path(params[:course_id], params[:assignment_id], @submission.id), method: :patch) do |form| %>
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, placeholder: @submission.content, class: "form-control" %>
    <br>
    <%= form.submit "Edit submission", class: "btn btn-primary" %>
  <% end %>
</div>
