<div class="container">
  <h1><%= @assignment.title %></h1>
  <br>
  <%= form_with(model: @submission, url: course_assignment_submissions_path(params[:course_id], params[:assignment_id]), method: :post) do |form| %>
    <%= form.label :content, class: "form-label" %>
    <%= form.text_area :content, placeholder: "Please enter your submission here", class: "form-control" %>
    <br>
    <%= form.submit "Submit", class:"btn btn-primary" %>
  <% end %>
</div>
