<div class="container">
  <%= form_with(model: @course, url: course_path(@course.id), method: :patch) do |form| %>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, placeholder: @course.name, class: "form-control" %>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, placeholder: @course.description, class: "form-control" %>
    <%= form.submit "Edit Course", class: "btn btn-primary"  %>
  <% end %>
</div>
