<div class="my-40">
  <div id="course-info">
    <div class="title">
      <h3 class="text-3xl text-center"><b><%= @course.name %></b></h3>
    </div>
    <% if current_instructor == @course.instructor %>
      <div class="flex flex-row justify-center">
        <div class="p-2">
          <%= button_to "Edit Course", edit_course_path(@course.id), method: :get, class: "text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800" %>
        </div>
        <div class="p-2">
        <%= button_to "Delete Course", course_path(@course.id), method: :delete, data: {turbo_confirm: "Are you sure you want to delete this course?"}, class: "text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800" %>
        </div>
      </div>
    <% end %>
    <br>

    <div class="text-center" >
      <h5 class="text-xl" >Instructor:</h5>
      <p class="mb-3"><%= @course.instructor.name %></p>
      <h5 class="text-xl" >Description:</h5>
      <p><%= @course.description %></p>
    </div>
    <div>
    </div>
    <div class="flex flex-row justify-center my-3">
      <% if current_student && current_student.enrollments.exists?(course: @course) %>
        <div>
          <%= button_to "Unenroll", enrollment_path(@enrollment_id), method: :delete, data: {turbo_confirm: "Are you sure you want to unenroll from this course?"}, class: "text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800" %>
        </div>
      <% elsif !current_student %>
      <% else %>
        <div>
          <%= button_to "Enroll", enrollments_path(enrollment: {course_id: @course.id}), method: :post, data: {turbo_confirm: "Are you sure you want to enroll"}, class: "text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800" %>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <% if (current_student && current_student.enrollments.exists?(course: @course)) || (current_instructor && current_instructor == @course.instructor) %>
    <div id="course-materials" class="border rounded-xl border-violet-800 p-4 m-4">
      <h3 class="text-2xl">
        <b>
          Course Materials:
        </b>
      </h3>
      <ul>
        <% @materials.each do |material| %>
          <li class="my-2 border-b border-black hover:border-b hover:border-violet-800">
            <%= link_to material.title, course_material_path(@course.id, material.id), class:"text-lg my-1"  %>
          </li>
        <% end %>
      </ul>
      <% if (current_instructor && current_instructor == @course.instructor) %>
        <%= link_to "Add new material", new_course_material_path(@course.id), class: "text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800 my-2" %>
      <% end %>
    </div>
    <br>
    <div id="course-assignments" class="border rounded-xl border-violet-800 p-4 m-4" >
      <h3 class="text-2xl">
        <b>
          Course Assignments:
        </b>
      </h3>
      <ul>
        <% @course.assignments.each do |assignment| %>
          <li class="my-2 border-b border-black hover:border-b hover:border-violet-800">
            <%= link_to assignment.title, course_assignment_path(@course.id, assignment.id), class:"text-lg my-1"  %>
          </li>
        <% end %>
      </ul>
      <% if (current_instructor && current_instructor == @course.instructor) %>
        <%= link_to "Add new assignment", new_course_assignment_path(@course.id), class:"text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800 my-2" %>
      <% end %>
    </div>
  <% end %>
  <br>
  <div id="forum-threads" class="border rounded-xl border-violet-800 p-4 m-4">
    <h3 class="text-2xl">
      <b>
        Forum Threads:
      </b>
    </h3>
    <div>
      <ul>
        <% @course.forum_threads.each do |forum_thread| %>
          <li class="my-2 border-b border-black hover:border-b hover:border-violet-800">
            <%= link_to forum_thread.title, forum_thread_path(forum_thread), class:"text-lg my-1" %>
          </li>
        <% end %>
      </ul>
      <% if current_instructor == @course.instructor %>
        <div>
          <%= link_to "Create a Forum Thread", new_forum_thread_path(course_id: @course.id), class: "text-white border rounded-lg border-yellow-400 bg-black-400 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-yellow-600 dark:focus:ring-yellow-800 my-2" %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
