<div class="container">
  <%= form_with(model: @material, url: course_material_path(params[:course_id, @material.id]), method: :post) do |form| %>
    <%= form.hidden :course_id, params[:course_id] %>
    <%= form.text_field :title, value: 'Please enter title of material' %>
    <%= form.text_area :content, value: 'Please enter content of material' %>
    <%= form.submit 'Submit' %>
  <% end %>  
</div>
